body { 
  background: rgb(247, 247, 247);
}

img { 
  max-width: 540px;
  max-height: 540px;
}

a { 
  margin-left: 10px;
}

ul { 
  margin-top: 10px;
}

button { margin: 5px; 
}

.container > img { 
  margin-bottom: 20px;
}

.container {
  
}

.product-image { 
  display: flex;
  overflow: hidden;
  border: #fff solid 5px;
  justify-content: center;
  align-items: center;
}

.cart { float: right;
  height: 40px;
  margin-top: 5px;
  margin-right: 25px;
  padding: 5px 20px;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  background: rgb(255, 255, 255);
}

.select-color { 
  cursor: pointer;
}

.color-box { 
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  border: 4px solid #fff;
  border-radius: 50%;
}
